* {margin: 0; font: Roboto;}
body {display: flex; justify-content: flex-start; margin: 50px 10px 10px 50px;}
.box { border: 1px solid black; padding: 10px; width: 500px; }

.top {display: flex; align-items: center;margin: 10px;}

.top h2 {flex: 2;}

.top p {flex: 1; text-align: center;}

#btn { border: 1px solid black; box-shadow: 3px 3px black; background-color: rgb(223, 201, 92); font-size: large; height: fit-content; flex: 0.4; padding: 2px;}

.bottom {margin: 20px 10px 10px 10px}